*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
#Product06{
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 80px;
}
.top_bannerp6 img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.8;
  }
  .top_bannerp6 h2{
    position: absolute;
    top: 140px;
    left: 120px;
    color: #ffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 71px;
    text-align: justify;
    font-style: italic;
    opacity: 1;
  }
#Product06 h1{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #444444;
    margin-top: 20px;
}
#Product06 .devide{
    background:rgb(67, 50, 153);
    display: inline-block;
    margin-left: 47%;
    width: 60px;
    height: 3px;
    top: 0;
    position: relative; 
    z-index: 1;
    left: 10px;
}
#Product06 .devide::before{
    position:absolute;
    left: -15px;
    content: "";
    height: 3px;
    width: 10px;
    background:rgb(67, 50, 153);
}
.product06{
    width: 80%;
    align-items: center;
    margin: 20px 150px;
    display: block;
}
.product06 .pro_111{
    display: block;
    text-align: justify;
    margin-top: 20px ;
}
.pro_111 h3, .pro_222 .h1{
    font-size: 32px;
    font-weight: 500;
    color: #444444;
    margin-top: 20px;
}
.pro_02 ul{
    list-style: disc;
}
.pro_111 p,
.pro_222 li{
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    line-height: 30px;
    margin-top: 20px;
}
.pic_001{
    display: inline-flex;
}
.pic_001 img{
    width: 30%;
    margin: 15px 100px;
}
.pro_02{
    width: 95%;
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    text-align: justify;
}
.pic_02 img{
    margin: 50px 0 0 490px;
}

@media only screen and (max-width:1441px) {
    .top_bannerp6 img{height: 40vh;}
    .top_bannerp6 h2{
        top: 110px;
    }
}
    @media only screen and (max-width:1025px){
        .product06{width: 90%; margin-left: 60px;}
        #Product06 h1{font-size: 24px;}
    }
    .pro_111 h3, .pro_222 .h1{font-size: 24px;}
    .pic_02 img{
        margin: 50px 0 0 340px;
    }


@media only screen and (max-width:769px) {
    .top_bannerp6 h2{
        left: 40px;
    }
    .pic_001 img{
        width: 30%;
        margin: 15px 50px;
    }
    .pic_02 img{
        margin: 50px 0 0 240px;
    }
}

@media only screen and (max-width:426px) {
    .top_bannerp6 img{height: 20vh;}
    .top_bannerp6 h2{top: 60px;left: 5px; font-size: 16px;}
    #Product06 h1,.pro_111 h3, .pro_222 .h1{font-size: 20px;}
    .product06{margin: 0 40px;width: 80%;}
    .pro_111 p,
    .pro_222 li{font-size: 14px;}
    .pic_001 img{
        width: 40%;
        margin: 15px 20px;
    }
    .pic_02 img{
        margin: 50px 0 0 60px;
    }
}